<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Framework Test Suite">

    <listeners>
        <listener class-name="org.nhihuynh.reports.CustomListener" />
    </listeners>

    <test name="IOS basic">
        <groups>
            <define name="Run IOS tests">
                <include name="os.ios"/>
                <!--            <include name="level.smoke"/>-->
            </define>
            <run>
                <include name="Run IOS tests"/>
                <!--            <exclude name="status.flaky"/>  <exclude name="status.wip"/>-->
            </run>
        </groups>
        <classes>
            <class name="nhi.huynh.IOSBasicTest" />
        </classes>
    </test> <!-- Test -->

<!--    <test name="Hybrid App Test">-->
<!--        <classes>-->
<!--            <class name="nhi.huynh.HybridAppTestAndroid" />-->
<!--        </classes>-->
<!--    </test> &lt;!&ndash; Test &ndash;&gt;-->


</suite> <!-- Suite -->