<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appium Framework Test Suite">

    <test name="IOS basic">
        <classes>
            <class name="nhi.huynh.IOSBasicTest" />
        </classes>
    </test> <!-- Test -->

    <test name="Hybrid App Test">
        <classes>
            <class name="nhi.huynh.HybridAppTestAndroid" />
        </classes>
    </test> <!-- Test -->


</suite> <!-- Suite -->